<div class="row">
  <div class="small-12 small-centered medium-11 medium-centered large-11 large-centered columns ">
    <h4 class="text-center result-tile">Results</h4>
    <p class="text-center small-intro">Some programs may have additional eligiblitiy criteria not covered by the Resource Finder.  You should contact the program directly to determine eligiblity.</p>
<%=react_component('Resources', { initialData: @data }) %>
</div>
</div>
