<div class="main-body">
<% if !signed_in? %>
<div class="row">
  <div class="small-6  large-8 small-centered text-center columns ">
    <button type="button" class="button login-button">
      <%= link_to "Sign up with Google", new_register_path %></button>
    </div>
  </div>
  <div class="row">
    <div class="small-10 medium-5 large-4 small-centered text-center columns">
      <small class="use-and-conditions">By sigining in, you agree to Resouces Finder's Terms and Conditions of Use and      Privacy Policy. </small>
    </div>
  </div>
  <div class="row">
    <div class="small-8 medium-4 large-3 small-centered text-center columns">
      <hr>
      <small class="use-and-conditions login-main" >Already have an account? <%= link_to "Log in", new_login_path %> here.</small>
    </div>
  </div>
<% end %>
<% if signed_in? %>
<div class="row">
  <div class="small-6  large-8 small-centered text-center columns">
    <button type="button" class="button login-button">
      <%= link_to "Add Client", form_path %></button>
    </div>
  </div>
<% end %>
</div>
